{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h2 class="exo-terzo">Our Story</h2>
<p>This project provides a basic framework that can be developed into any number of different applications. </p>
<p>This project has been tailored to be run on the Heroku cloud platform.</p>
<p>NB: This site is being run in <bold>Experimental Mode</bold> and may have an adverse effect on the space-time continuium.</bold></p>


<ul>
    <li class="syne-mono-regular">Syne Mono Regular - A very respectable font from a very respectable family. 
        Human beings started out to create accounting machine but ended up creating a Reckoning machine. 
        Similarly god needed accounting machine but ended up by creating the Reckoning machine of human beings.</li>

    <li class="tillana-regular">Tillana Regular - A very respectable font from a very respectable family.
        Come on let's turn it come on let's learn it come on let's get up on the stage.
        I got a passion for some invention and I'm starting to enrage.
        Come on let's win it come on let's earn it come on let's buy the entire town.
        And while you're in it I need you to stay the night I need you to show me around.
    </li>

    <li class="special-elite-regular">Special Elite Regular - A very respectable font from a very respectable family.
        The priority for today and every day: 
        Apply up and coming technology to current business problems. 
        Additional priorities include: 
        Seek consistent business returns.
        All activity must be bound to procedure. All procedure must be bound to structure. Structure is more easily governed.
    </li>

    <li class="share-tech-mono-regular">Share Tech Mono Regular - A very respectable font from a very respectable family.
        I grew up thinking that silicon Valley was a bad thing, but really it was that they were bad men in Silicon Valley.
        I grew up thinking that being a lawyer was a bad thing, but really they were bad men in the legal profession. 
        I grew up thinking that being a doctor was about thing, but really they were bad men in the medical Profession who were only in it for money. 
    </li>

    <li class="exo-terzo">Exo Terzo - A very respectable font from a very respectable family. 
        If you think that those things are bad things then you like me probably grew up in America where all of those professions are dominated by people who are only interested in making money, 
        and they're not interested in the profession as a calling or as a profession. 
        Making a profit is not a bad thing it is your duty to the society that is endowed you.</li>

</ul>
<button id="back_button" onclick="history.back()">&#9665; Back</button>
<button id="back_button"  onclick="history.forward()">Forward &#9655; </button>

{% endblock %}

