<!DOCTYPE html>
<head>
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no" />
    <meta name="google-adsense-account" content="ca-pub-5714407334718985">
    <!-- OK link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css" -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo.svg') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Share+Tech+Mono&family=Special+Elite&family=Syne+Mono&family=Tillana&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap" >
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5714407334718985"
     crossorigin="anonymous"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <a href="/"><h1>Goats Path Woolen Mills</h1></a>
    
    {% block body %}
    {% endblock %}

    <section id="footer">
        |
        <a href="/terms">Terms</a> |
        <a href="/privacy">Privacy</a> |
        <a href="/contact">Contact</a>
        |
    </section>
</body>
</html>