{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<img src="{{ url_for('static', filename='images/IMG_20250202_173854_Hero_40x27.jpg') }}" id="hero" class="post-header"/>
<h2>Welcome!</h2>
<p>We at Goats Path Woollen Mills are proud to provide keins and cakes of the highest quality Donegal Tweed and Irish wools. </p>
<h3>KNOLL brand Knitting Wool</h3>

<img src="{{ url_for('static', filename='images/IMG_20250202_161322_HDR_KNOLL_brand_Knitting_Wool_40x30') }}" id="knoll-one" class="wool-image"/>
<p>In the past, we were proud to offer Over 8kg of really nice quality Knoll Brand Knitting wool on cones suitable for knitting machine use, hand knitting or loom weaving. Colours offered include navy blue, some beige, some baby blue, and one large cone of light pink. Amazing project potential here, and the yarn is so lovely and soft, not scratchy at all, so would be very well suited for a baby blanket or someone with sensitive skin.</p>

<h3>Dyneema Merino Wool</h3>
<img src="{{ url_for('static', filename='images/IMG_20250202_131517_HDR_Dyneema_Merino_Wool_Cones_40x30') }}" id="dyneema-one" class="wool-image"/>
<p>February 2025 we offered five cones of gorgeous high-quality and hard to find Dyneema Merino wool in beautiful charcoal grey/black colour, suitable for use on a knitting machine or for hand knitting. Dyneema Merino is used in making tactical base layer garments for the military, as it is lightweight and warm and durable!</p>

<h3>John Hanly Wool</h3>
<!-- img src="{{ url_for('static', filename='images/IMG_20250202_131517_HDR_Dyneema_Merino_Wool_Cones_40x30') }}" id="knoll-one" class="wool-image"/ -->
<p>In February 2025 we offered a unique and exciting opportunity to purchase some wool cones from John Hanley Woollen Mills. These very cones are the same as were used to weave the beautiful woollen blankets we see in gift shops across Ireland. We have 11+ kgs of woollen remnants available for private purchase as a job lot being sold for 20 euro per KG. We are happy to do a special deal to the discerning buyer who wishes to purchase the entire lot. Many of these are discontinued and rare shades and colours, and the photos don't do justice to their vibrancy in real life!</p>
<p>These cones are imminently suitable for loom weaving, or for use on a knitting machine, or even for hand knitting or fine crochet work! 100% Irish Wool, ready for any and all of your projects. Imagine the possibilities. These would be particularly useful for a person thinking of starting up a market stall business. The economy has become so unstable and scary, it is reassuring to know you could still earn an income through taking your handiwork to market.</p>
<h3>Dyneema Merino Wool</h3>
<p>We were proud to hav offered five cones of gorgeous high-quality and hard to find Dyneema Merino wool in beautiful charcoal grey/black colour, suitable for use on a knitting machine or for hand knitting. Dyneema Merino is used in making tactical base layer garments for the military, as it is lightweight and warm and durable!</p>
<h3>Shipping</h3>
<p>Shipping is at buyer's expense, or local pickup can be arranged.</p>
<h3>Offers</h3>
<p>We have job lots of wool on offer, so please do check out our <a href="https://www.adverts.ie/for-sale/q_AdvoK8/">Adverts.ie</a> page!</p>

<img src="{{ url_for('static', filename='images/IMG_20250202_173908_Hero_40x30.jpg') }}" id="hero-two" class="wool-image"/>
{% endblock %}