{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='terzo.css') }}">
<script src="{{ url_for('static', filename='terzo.js') }}"></script>

{% endblock %}

{% block body %}
<h2>Terms of Use</h2>
<p>Internet Web Page is provided as-is and without warranty. </p>
<h3>Advisory</h3>
<p>This site is being run in <bold>Experimental Mode</bold> and may have an adverse effect on the space-time continuium.</bold></p>
<h3>Disclaimer</h3>
<p>To the extent permitted by law, we exclude all warranties, express, statutory, or impled.
    We expressly disclaim the warranties or conditions of noninfringement, merchantability, and fitness for a particular purpose.
</p>

<button id="back_button" onclick="history.back()">&#9665; Back</button>
<button id="back_button"  onclick="history.forward()">Forward &#9655; </button>

{% endblock %}

###


How to draft terms of use for your website:

Identify the purpose and scope of the terms
Determine the key provisions to include
Structure the terms of use for readability and comprehension
Review and update the terms regularly to ensure accuracy and relevance
###